<!DOCTYPE html>
<meta http-equiv="refresh" content="2">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{{ url_for('static',filename='bootstrap.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='index.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>HA-AP Monitor</h1>
    </div>
            <h2>Monitor</h2>
                <table class="table">
                <thead>
                    <tr>
                        <th>Engine</td>
                        <th>Status</td>
                    </tr>
                </thead>
                <tbody>
                 {% for t in range(engine_num) %}
                    {% if engine_status_list[t] == 0 %}
                        <tr class="info">
                            <td>{{ engine_list[t] }}</td>
                            <td>{{ engine_status_list[t] }}</td>
                            <td>
                                OK
                            </td>
                        </tr>
                     {% else %}
                          <tr class="danger">
                            <td>{{ engine_list[t] }}</td>
                            <td>{{ engine_status_list[t] }}</td>
                            <td>
                                 Fail
                            </td>
                        </tr>
                     {% endif %}
                    {% endfor %}
                </tbody>
                </table>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Copyright © Matthew</p>
    </div>
</footer>
</body>
</html>
